/*! AUI Flat Pack - version 5.0-m13 - generated 2012-10-02 21:18:14 -0400 */


/* Solution from https://github.com/necolas/normalize.css/blob/master/normalize.css */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.clear {
    clear: both;
}
.hidden,
form.aui .hidden,
form.aui .field-group.hidden,
form.aui fieldset.hidden {
    display: none;
}

.assistive,
legend.assistive span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* light shadow for use on dropdowns, inline dialogs */
.aui-box-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

/* dialog no longer gets shadow - "blanket is the shadow" */
.aui-dialog.aui-box-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aui-blanket {
    background: #000;
    height: 100%;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2500;
}
.aui-dialog-shadow-parent {
    position: fixed;
    overflow: hidden;
    left:50%;
    top:50%;
}
.aui-popup {
    background-color: #fff;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 3000;
}
.aui-dialog {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.aui-dialog .dialog-blanket {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    background: #000;
}

/* dialog header styles */
.aui-dialog .dialog-title {
    border-bottom: 1px solid #ddd;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px; /* NOTE: This value is hard-coded in dialog.js as HEADER_HEIGHT */
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.aui-dialog h2.dialog-title {
    color: #333;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
}

/* dialog navigation styles */
.aui-dialog .dialog-page-menu {
    background: #fff;
    border-right: 1px solid #ddd;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 10px 20px 10px;
    width: 25%;
}
.aui-dialog .dialog-page-menu li.page-menu-item {
    margin: 0;
    padding: 0;
}
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button {
    background: none;
    border: 0;
    color: #3b73af;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit; /* = 14px */
    line-height: 1.1428; /* 16px equiv */
    padding: 7px 10px;
    margin: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:hover,
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:focus {
    background-color: #e6e6e6;
}
.aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button {
    color: #333;
    font-weight: bold;
}
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:active,
.aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button:active {
    background-color: #3b73af;
    color: #fff;
}

/* dialog body content styles */
.aui-dialog .dialog-page-body {
    background: #fff;
}

.aui-dialog .dialog-panel-body {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
}
.aui-dialog .dialog-panel-body > *:first-child {
    margin-top: 0;
}

/* dialog button panel styles */
.aui-dialog .dialog-button-panel {
    border-top: 1px solid #ddd;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    height: 51px; /* NOTE: This value is hard-coded in dialog.js as BUTTONS_HEIGHT */
    overflow: hidden;
    padding: 10px;
    text-align: right;
    width: 100%;
}
.aui-dialog .dialog-button-panel button.button-panel-button {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* W3C */
    border-color: #ccc;
    border-radius: 3px;
    border-style: solid; /* border width and style don't change after this */
    border-width: 1px; /* border width and style don't change after this */
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    font-variant: normal;
    line-height: 20px;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
}
.aui-dialog .dialog-button-panel button.button-panel-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.aui-dialog .dialog-button-panel button.button-panel-button:focus,
.aui-dialog .dialog-button-panel button.button-panel-button:hover {
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* W3C */
    border-color: #999;
    color: #000;
    text-decoration:none;
}

.aui-dialog .dialog-button-panel button.button-panel-button:active {
    background: #f2f2f2;
    background-image: none;
    background-color: #f2f2f2;
    box-shadow: inset 0px 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
}

.aui-dialog .dialog-button-panel a.button-panel-link {
    background: transparent;
    border-color: transparent;
    color: #3b73af;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: none;
}

.aui-dialog .dialog-button-panel a.button-panel-link:focus,
.aui-dialog .dialog-button-panel a.button-panel-link:hover,
.aui-dialog .dialog-button-panel a.button-panel-link:active {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
}

.aui-dialog .dialog-button-panel button.button-panel-button,
.aui-dialog .dialog-button-panel a.button-panel-link {
    margin: 0 10px 0 0;
}
.aui-dialog .dialog-button-panel button.button-panel-button.left,
.aui-dialog .dialog-button-panel a.button-panel-link.left {
    float: left;
    margin: 0 0 0 10px;
}

/* Styles for AJS.dropDown */
.aui-dd-parent {
    position: relative;
}


/*Default Styled Trigger*/
.aui-dd-parent span a.aui-dd-trigger,
.aui-dd-parent a.aui-dd-trigger {
    background: transparent url(aui-icon-tools.gif) no-repeat -13px 0;
    border: none;
    color: #000;
    display: block;
    height: 13px;
    padding: 0;
    text-indent: -9999px;
    width: 13px;
}
.aui-dd-parent a.aui-dd-trigger:link,
.aui-dd-parent a.aui-dd-trigger:visited {}
.aui-dd-parent a.aui-dd-trigger.active,
.aui-dd-parent a.aui-dd-trigger:hover,
.aui-dd-parent a.aui-dd-trigger:active,
.aui-dd-parent a.aui-dd-trigger:focus {
    background: transparent url(aui-icon-tools.gif) no-repeat -26px 0;
    border: none;
    color: #000;
}


.aui-dd-parent span a.aui-dd-trigger {
    position: absolute;
    right: 5px;
    top: 8px;
}

/*UNSTYLED TRIGGER*/
.aui-dd-parent span a.aui-dd-trigger.unstyled,
.aui-dd-parent a.aui-dd-trigger.unstyled {
    background: none;
    border: none;
    color: inherit;
    display: block;
    height: auto;
    text-indent: 0;
    width: auto;

}
.aui-dd-parent a.aui-dd-trigger-unstyled:link,
.aui-dd-parent a.aui-dd-trigger-unstyled:visited {}
.aui-dd-parent a.aui-dd-trigger-unstyled.active,
.aui-dd-parent a.aui-dd-trigger-unstyled:hover,
.aui-dd-parent a.aui-dd-trigger-unstyled:active,
.aui-dd-parent a.aui-dd-trigger-unstyled:focus {
    background: none;
    border: none;
    color: inherit;
}

.aui-dd-parent span a.aui-dd-trigger-unstyled {
    position: absolute;
    right: auto;
    top: auto;
}

.aui-dropdown {list-style-type:none;}

.aui-dd-parent .aui-dropdown,
.aui-dropdown,
.aui-dd-parent .aui-shadow-parent {
    background: #fff;
    border: 1px solid #6A8EB3;
    color: #000;
    padding: 4px 0 4px 0;
    position: absolute;
    z-index: 2003;
    margin-top: -1px;
}

.aui-dd-parent  .aui-dropdown-left{
    left:0px;
}

.aui-dd-parent .aui-dropdown-right{
    right:0px;
}

.aui-dd-parent .aui-shadow {
    right: 5px;
}
.aui-dd-parent .aui-dropdown li.dropdown-item,
.aui-dropdown li.dropdown-item  {
    background: #fff;
    color: #000;
    display: block;
    float: none;
    margin: 0;
    position: static;
}

.aui-dd-parent .aui-dropdown a.item-link,
.aui-dropdown a.item-link {
    background: #fff;
    color: #036;
    display: inline-block;
    float: none;
    height: auto;
    position: static;
    text-indent: 0;
    white-space: nowrap;
    width: auto;
}
.aui-dd-parent .aui-dropdown a.item-link:link,
.aui-dd-parent .aui-dropdown a.item-link:visited,
.aui-dropdown a.item-link:link,
.aui-dropdown a.item-link:visited {
    background: #fff;
    color: #036;
    padding: 0.3em 0.5em;
}
.aui-dd-parent .aui-dropdown li.dropdown-item.active a.item-link,
.aui-dd-parent .aui-dropdown a.item-link:hover,
.aui-dd-parent .aui-dropdown a.item-link:active,
.aui-dd-parent .aui-dropdown a.item-link:focus,
.aui-dropdown a.item-link:hover,
.aui-dropdown a.item-link:active,
.aui-dropdown a.item-link:focus  {
    background: #f2f2f2;
    color: #036;
    padding: 0.3em 0.5em;
}

.aui-dd-parent .aui-dropdown li.dropdown-item a.item-link span.icon {
    display: inline-block;
}

div.shim {
    position: absolute;
}
/**
 * Dropdown 2
 */

/* Functional styles - these are always applied
---------------------------------------------------------------------- */
.aui-dropdown2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    max-width: 300px;
    min-width: 160px;
    position: absolute;
}
.aui-dropdown2 a {
    display: block;
}
.aui-dropdown2 .aui-list-truncate a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Default style for Dropdown2, invoked with aui-style-default
---------------------------------------------------------------------- */
.aui-dropdown2.aui-style-default {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.aui-dropdown2.aui-style-default ul {
    list-style: none;
    margin: 2px 0;
    padding-left: 0;
}
.aui-style-default .aui-dropdown2-section + .aui-dropdown2-section {
    border-top: 1px solid #ddd;
}
.aui-dropdown2.aui-style-default strong {
    display: block;
    font-weight: bold;
    padding: 5px 10px;
}
.aui-dropdown2.aui-style-default strong + ul {
    margin-top: 0;
}
.aui-dropdown2.aui-style-default a {
    color: #333;
    padding: 3px 10px;
    text-decoration: none;
}
.aui-dropdown2.aui-style-default a:focus,
.aui-dropdown2.aui-style-default a:hover {
    text-decoration: none;
}
.aui-dropdown2.aui-style-default .active {
    background-color: #3b73af;
    color: #fff;
}
.aui-dropdown2.aui-style-default .disabled {
    color: #ccc; /* equivalent of opacity: 0.5 without need for IE8 filter */
    cursor: default;
}
.aui-dropdown2.aui-style-default .aui-icon-container,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox {
    padding-left: 31px;
}

.aui-dropdown2.aui-style-default .aui-icon-container,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox {
    /* position of the background or icon (both 16x16) is:
     * - 10px from the left to match the item padding
     * - 7px from the top which is calculated:
     *   - 5px for the top padding of the item
     *   - 2px is half the difference between the line-height (20) and the icon height (16) so it's vertically spaced
     */
    background-position: 10px 5px;
    background-repeat: no-repeat;
    position: relative;
}

.aui-dropdown2.aui-style-default .aui-icon-container > img,
.aui-dropdown2.aui-style-default .aui-icon-container > .aui-icon {
    border-width: 0;
    left: 10px;
    position: absolute;
    top: 5px;
}
.aui-dropdown2.aui-style-default .aui-icon-container > .aui-icon {
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}


/* Checkbox items */
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked {
    /* black tick */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZElEQVQ4y2P4//8/AyWYYdQA0gwAAisgjifLAKjmT0D8A4hlcBoABMxArIVD8y8gDsTrAiBYCMSfgdiakGZcBgRAFYMMScenGWcYQA35BsRf8WnGG4hAEAs1IJDsaAQCsRGQlAFzIahrvTZlPQAAAABJRU5ErkJggg==);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked.active {
    /* white tick */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVQ4y2P4//8/AyWYYdQAkg2wAuJ4cg0Aaf4ExD+AWAafAcxArIVD8y8gDiTkgoVA/BmIrQlpxmVAAFQxyJB0fJrxhQHIkG9A/BWfZkKBGAs1IJCSaBQbAUkZADrWERF5/1uYAAAAAElFTkSuQmCC);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked.disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked.disabled.active {
    /* grey tick */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAeElEQVQ4y2P4//8/AyWYYdQA0gw4deqU1ZkzZ+LJMgCk+fTp05+A+MeJEydkcBqwatUqZqACLRyaf508eTIQrwuAihYC8WcgtiakGasBQD8GgBRDDUnHpxlnGEAN+QbEX/FpxhuIQI2xIAPwaSYYCxcvXhQbAUkZACU4+yryyeQvAAAAAElFTkSuQmCC);
}

/* Radio items */
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked {
    /* checked */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPklEQVQ4y2P4//8/AyWYYdQA7AYAAZuamlo7ED+H4naQGNEGQDX/R8PtpBjwHIsBz+lqAGVeoDgQR1MiaRgAnxW7Q0QEK0cAAAAASUVORK5CYII=);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked.active {
    /* checked hover/focus */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOklEQVQ4y2P4//8/AyWYYdQAnAawAXE7ED+H4naoGNEGgDSgg3ZSDHiOxYDndDWAYi9QHIijKZEEDABrgRimRc6sKAAAAABJRU5ErkJggg==);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked.disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked.disabled.active {
    /* checked disabled and checked disabled hover/focus */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAARklEQVQ4y2P4//8/AyWYYdQA7AasWrWK7eDBg+0HDhx4DsIgNkiMaANAGoD4PxpuJ9oAqK0oBoDE6GcAxV6gOBBHUyJpGADX7/1D0vUTdAAAAABJRU5ErkJggg==);
}

.aui-dropdown2.aui-dropdown2-tailed {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.aui-dropdown2.aui-dropdown2-tailed:before,
.aui-dropdown2.aui-dropdown2-tailed:after {
    border-color: transparent;
    border-style: outset outset solid outset;
    border-width: 8px;
    bottom: 100%;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.aui-dropdown2.aui-dropdown2-tailed:before {
    border-bottom-color: #ddd;
    margin-bottom: 1px;
}
.aui-dropdown2.aui-dropdown2-tailed:after {
    border-bottom-color: #fff;
}
.aui-dropdown2-tailed[data-dropdown2-alignment="left"]:before,
.aui-dropdown2-tailed[data-dropdown2-alignment="left"]:after {
    left: 20px;
}
.aui-dropdown2-tailed[data-dropdown2-alignment="right"]:before,
.aui-dropdown2-tailed[data-dropdown2-alignment="right"]:after {
    right: 20px;
}

/* basic in-page dropdown trigger style DEPRECATED as of 4.2 */
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1 {
    padding: 5px 8px;
    text-decoration: none;
}
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1:hover,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1:focus,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1.active {
    background-color: #326ca6;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1.active {
    border-radius: 4px 4px 0 0;
}

.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"],
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"]:hover,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"]:focus,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"]:active {
    background: inherit;
    color: #99b6d3; /* equivalent of opacity: 0.5 without need for IE8 filter. */
    cursor: default;
}

/* Toolbar/Toolbar2-via-buttons integration. Avoid double border: */
.aui-dropdown2.aui-style-default.aui-dropdown2-in-toolbar,
.aui-dropdown2.aui-style-default.aui-dropdown2-in-buttons {
    margin-top: -1px;
    border-top-color: #ccc;
}

/* Header integration. Move down a bit to clear the header. */
.aui-dropdown2.aui-style-default.aui-dropdown2-in-header {
    margin-top: 1px;
}
.aui-dropdown2.aui-style-default.aui-dropdown2-in-header.aui-dropdown2-tailed {
    margin-top: 4px;
}

form.aui {
    margin: 20px 0 0 0;
    position: relative;
}
form.aui:first-child {
    margin-top: 0;
}

/* Field styles */
form.aui .text,
form.aui .password,
form.aui .upfile,
form.aui .textarea,
form.aui .select,
form.aui .multi-select {
    color: #333;
    font-family: inherit;
    font-size: 14px;
}
form.aui .text,
form.aui .password,
form.aui .textarea,
form.aui .select,
form.aui .multi-select {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
}
form.aui .text,
form.aui .password,
form.aui .select {
    height: 2.1428571428571em; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: 1.4285714285714; /* Required for IE8. Causes misaligned placeholder text in Safari 5 - fixed in Safari 6 though */
    padding: 4px 5px;
}
form.aui .select {
    padding: 6px 5px 5px 5px; /* Firefox doesn't allow line-height to be adjusted and selects break horribly when the font-family is changed. Using padding instead */
}
form.aui .textarea,
form.aui .select[size],
form.aui .multi-select {
    height: auto;
    line-height: 1.4285714285714;
    margin: 0;
    padding: 4px 5px;
}
form.aui .textarea {
    overflow-y: auto;
}
/* Do not give file inputs a height or width because they break horribly in certain browsers. */
form.aui .upfile {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 5px 0;
}
form.aui optgroup {
    background-color: #f5f5f5;
    color: #707070;
    font-style: normal;
    font-weight: normal;
}
form.aui option,
form.aui optgroup option {
    background-color: #fff;
    color: #333;
}

/* Disabled form element styles */
form.aui .text[disabled],
form.aui .password[disabled],
form.aui .textarea[disabled],
form.aui .select[disabled],
form.aui .multi-select[disabled],
form.aui .select[disabled] option,
form.aui .select[disabled] optgroup,
form.aui .multi-select[disabled] option,
form.aui .multi-select[disabled] optgroup {
    background-color: #f5f5f5;
    color: #999;
}
form.aui .text[disabled],
form.aui .password[disabled],
form.aui .textarea[disabled],
form.aui .select[disabled],
form.aui .multi-select[disabled] {
    box-shadow: none;
    color: #999;
}
form.aui .text[disabled],
form.aui .password[disabled],
form.aui .textarea[disabled],
form.aui .select[disabled],
form.aui .multi-select[disabled],
form.aui .radio[disabled],
form.aui .checkbox[disabled] {
    cursor: not-allowed;
}

/* Placeholder styling
 * - You have to use two rules, because user agents are required to ignore a rule with an unknown selector.
 *   Since WebKit doesn’t know the proprietary Mozilla selector and vice versa, you have to include them separately.
 *   See http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css#answer-2610741
 */
form.aui .text::-webkit-input-placeholder,
form.aui .password::-webkit-input-placeholder,
form.aui .textarea::-webkit-input-placeholder {
    color: #707070;
}
form.aui .text:-moz-placeholder,
form.aui .password:-moz-placeholder,
form.aui .textarea:-moz-placeholder {
    color: #707070;
}

/* Field widths
 * - don't add widths to file inputs - they break horribly
 */
form.aui .short-field {
    max-width: 75px;
}
form.aui .medium-field {
    max-width: 165px;
}
form.aui .long-field {
    max-width: 500px;
}
form.aui .full-width-field {
    max-width: none;
}

/* Structural elements */
form.aui fieldset {
    border: 0;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
form.aui label {
    color: #707070;
}
form.aui .icon-required {
    left: 100%;
    position: absolute;
    top: 5px;
}
form.aui div.description {
    color: #707070;
    font-size: 12px;
    line-height: 1.66666666666667;
    margin: 5px 0 0 0;
}
form.aui div.description:first-child {
    margin-top: 0;
}
form.aui .field-value {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
}
/* TODO: don't support this in AUI Forms 2 */
form.aui legend {
    display: none;
}
form.aui legend > span {
    color: #707070;
    left: 0;
    padding: 5px 0 0 0;
    position: absolute;
    text-align: right;
    top: 4px; /* the same as the padding-top on the fieldset.group */
    width: 130px;
    word-wrap: break-word;
}
form.aui .field-group,
form.aui .group,
form.aui .date-select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    padding: 4px 0 4px 145px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}
form.aui .field-group:before,
form.aui .field-group:after,
form.aui .group:before,
form.aui .group:after,
form.aui .date-select:before,
form.aui .date-select:after {
    content: " ";
    display: table;
}
form.aui .field-group:after,
form.aui .group:after,
form.aui .date-select:after {
    clear: both;
}
form.aui .field-group > label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
}

form.aui .checkbox > label,
form.aui .radio > label {
    color: #333;
}
form.aui div.checkbox > .checkbox[disabled] + label,
form.aui div.radio > .radio[disabled] + label {
    color: #999;
    cursor: not-allowed;
}
form.aui .field-group .error,
form.aui .checkbox .error,
form.aui .radio .error {
    clear: both;
    color: #D04437;
    display: block;
    margin: 5px 0 0 0;
}
form.aui .field-group .error:first-child,
form.aui .checkbox .error:first-child,
form.aui .radio .error:first-child {
    margin-top: 0;
}
form.aui .group legend,
form.aui .date-select legend {
    display: block;
}
form.aui .group legend,
form.aui .date-select legend {
    display: block;
}
form.aui .group .field-group,
form.aui .date-select .field-group {
    padding-left: 0;
}
form.aui .date-select .field-group label {
    display: none;
}
form.aui div.checkbox,
form.aui div.radio {
    margin: 5px 0 0 0;
    padding: 0 0 0 20px;
    position: relative;
}
form.aui div.checkbox:first-child,
form.aui div.radio:first-child {
    margin-top: 0;
}
form.aui .matrix {
    padding-top: 5px;
}
form.aui div.radio input.radio,
form.aui div.checkbox input.checkbox {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    height: 1.4285714285714em;
    left: 0;
    margin: 0;
    padding: 2px;
    position: absolute;
    vertical-align: baseline;
}
/* Buttons */
form.aui .buttons-container {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    margin: 1px 0 0 0;
    padding: 4px 0 4px 145px;
    position: relative;
    width: 100%;
}

/* Long Labels
 * add long-label class to form eg: <form class="aui long-label">
 */
form.aui.long-label .field-group,
form.aui.long-label .group,
form.aui.long-label .date-select,
form.aui.long-label .buttons-container {
    padding-left: 250px;
}
form.aui.long-label .field-group > label {
    margin-left: -250px;
    width: 235px;
}
form.aui.long-label legend > span {
    width: 235px;
}
form.aui.long-label .group .field-group,
form.aui.long-label .date-select .field-group {
    padding-left: 0;
}
/* End Long Labels */


/* Top Labels
 * add top-label class to form eg: <form class="aui top-label">
 */
form.aui.top-label .field-group {
    padding-left: 0;
}
form.aui.top-label .field-group > label {
    display: block;
    float: none;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    width: auto;
}
form.aui.top-label .icon-required {
    left: 0;
    position: static;
    top: 0;
}
form.aui.top-label .group,
form.aui.top-label .date-select {
    padding-left: 0;
}
form.aui.top-label .group legend span,
form.aui.top-label .date-select legend span {
    left: 0;
    position: relative;
    top: 0;
    text-align: left;
    width: auto;
}
form.aui.top-label .date-select label {
    display: none;
}
form.aui.top-label .buttons-container {
    padding-left: 0;
}
/* End Top Labels */

/* Deprecated button styling - use the new aui-button component */

/* Basic Button Style */
form.aui .button {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* IE10+ */
    background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%, #f2f2f2 100%); /* W3C */
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.1428571428571em; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: 1.4285714285714;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
    white-space: nowrap;
}
form.aui .button + .button,
form.aui .button + .cancel {
    margin-left: 10px;
}
form.aui .cancel  {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: baseline;
}

/* Control button height in Firefox. See http://www.experimentgarden.com/2010/11/firefox-buttontext-height-and-padding.html */
form.aui .button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

form.aui .button:focus,
form.aui .button:hover {
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #fff 0%,#f7f7f7 100%); /* IE10+ */
    background: -o-linear-gradient(top, #fff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%,#f7f7f7 100%); /* W3C */
    border-color: #999;
    color: #000;
    text-decoration:none;
}

form.aui .button:active,
form.aui .button.active {
    background-image: none;
    background-color: #f2f2f2;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
}

form.aui .button[disabled],
form.aui .button[disabled]:hover,
form.aui .button[disabled]:focus,
form.aui .button[disabled]:active {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* IE10+ */
    background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%, #f2f2f2 100%); /* W3C */
    border-color: #ddd;
    box-shadow: none;
    color: #999;
    text-shadow: none;
}



/* Deprecated */
form.aui span.content {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
form.aui pre.aui-form {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.66666666666667; /* 20px */
    overflow-x: auto;
    overflow-y: visible;
    padding: 15px;
}
/**
* Basic icon styles. Allows you to easily render sprite icons.
*
* .aui-icon must be present on all iconified elements
* All iconified elements must include class names prefixed with 'aui-icon-'
* Icons assume light backgrounds. Icon classnames for dark backgrounds must be suffixed with '-d'
* For elements whose background changes in app, we advise maintaining light/dark state in the app.
*
*/

.aui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
}

.icon-move,
.icon-move-d,
.icon-dropdown,
.icon-dropdown-d,
.icon-dropdown-active,
.icon-dropdown-active-d,
.icon-minimize,
.icon-minimize-d,
.icon-maximize,
.icon-maximize-d {
    background-repeat: no-repeat;
}

.aui-icon.icon-move,
.aui-icon.icon-move-d,
.aui-icon.icon-dropdown,
.aui-icon.icon-dropdown-d,
.aui-icon.icon-dropdown-active,
.aui-icon.icon-dropdown-active-d,
.aui-icon.icon-minimize,
.aui-icon.icon-minimize-d,
.aui-icon.icon-maximize,
.aui-icon.icon-maximize-d {
    background-position: 0 0 !important; /* This is for legacy support */
    height: 13px;
    vertical-align: baseline;
    width: 13px;
}


/* Core icons - deprecated */
.icon-move {
    /* icon-move.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAPUlEQVR42rWRMQoAMAjE+v9P29syBeFKs50YVDzGBKmbACKZACIV69G0ZqQJqwQJBcWk8iYD6eufTHha7wLFyOcZBIC2HgAAAABJRU5ErkJggg==);
    cursor: move;
}
.icon-move-d {
    /* icon-move-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANAQMAAABIJXY/AAAABlBMVEUAAABtbW0GOOmzAAAAAXRSTlMAQObYZgAAACZJREFUCFtjYGJgYGdg4G9gADKUFBiSDBj+/wCRQDYTWBwoy8QAAF4LBNTKhGdbAAAAAElFTkSuQmCC);
    cursor: move;
}
.icon-dropdown {
    /* icon-dropdown.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAANUlEQVQoz2NgIBH8//8fziAKwDX9h2slypb/A6gJn1/w2oRLA0HnYdMwCAKCaE1kpQhy0h4AvZXuEh7/K88AAAAASUVORK5CYII=);
}
.icon-dropdown-d {
    /* icon-dropdown-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAOElEQVQoz2NgIBH8//8fwsjNzf1PDIZrgnGIASC1A6gJn1/w2oRLA0HnYdMwCAKCaE1kpQhy0h4AVz6Yhl8Qyr8AAAAASUVORK5CYII=);
}
.icon-dropdown-active {
    /* icon-dropdown-active.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAMElEQVQoz2NgIBH8//8fziAKwDX9Jx0MlCY8nsdvEwENuJ2HR8P/oRB6ZKUIctIeACdj9RnXT1HMAAAAAElFTkSuQmCC);
}
.icon-dropdown-active-d {
    /* icon-dropdown-active-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAANklEQVQokWNgIBH8//8fwsjNzf1PDIZrIlYDDA+gJlyeJ2gTPg14nYdLwwAHBNGayEoR5KQ9AH2/LqGCzCmZAAAAAElFTkSuQmCC);
}
.icon-minimize {
    /* icon-minimize.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAJ0lEQVQoz2NgIBH8//8fziAKwDX9Jx3QWxMJgTCqCUUTWSmCnLQHAMrBNdnApUZIAAAAAElFTkSuQmCC);
}
.icon-minimize-d {
    /* icon-minimize-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAALElEQVQoz2NgIBH8//8fwsjNzf1PDIZrIlYDDA+AJmIDYVQTuiayUgQ5aQ8AKzrBcoqP7AUAAAAASUVORK5CYII=);
}
.icon-maximize {
    /* icon-maximize.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAMklEQVR42r3LMQoAAAhCUe9/aVulIZSivyk8pJFsh9EdwtAO0egOYUhxhHR/I6OO7BQVFiAd8RJdftsAAAAASUVORK5CYII=);
}
.icon-maximize-d {
    /* icon-maximize-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAOElEQVQokWNgIBH8//8fVSA3N/c/IUw9TficRpkmYpxEPU2EnIQREMRoQuYPgCZiAwKuiVQA0gQAtaqzzogsN8sAAAAASUVORK5CYII=);
}


/* Form icons - deprecated */
form.aui .icon-date,
.aui-icon-date {
    /* icon-date.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAElBMVEVwcHA7c6/e297////d3d3QRDeta2PvAAAANElEQVR42o3NMQoAMAgDwFrj/7+sNB2EOHhkCgaPMrqkxcAdLVOBLwrQLuJFCp3sv9BqIhIVkgJPMGXvIwAAAABJRU5ErkJggg==);
}
form.aui .icon-range,
.aui-icon-range {
    /* icon-range.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEVwcHA7c6/d3d3////QRDegIdLtAAAANUlEQVR42oWOsQkAMBAC8/r7zxyIjaCQw+pQ8CQjIFIUSFiaANZ4jbU0saJOQIbwiZ7+jwUX+3ECESZGRrwAAAAASUVORK5CYII=);
}
form.aui .icon-required,
.aui-icon-required {
    /* icon-required.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXklEQVR42u3MsQ2AIBSEYZnHAVjACZzkNUxA6yCOY2HhNnoXn6EggVxjRfHnQh75pmOJX/e7JTPrxo8JRQK+SQUyugj4ZhUIaCPgG1RgRida0c63ClQpQOs4gAH8Bzy5KFqGk8PBaQAAAABJRU5ErkJggg==);
}
form.aui .icon-users,
.aui-icon-users {
    /* icon-users.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAtUlEQVR42t2RMQrCQBBF9xparK138ATJaRYEPVWwj0o6m1zAJl1IOgvXJtX4ix9YZsKK2Fk8kn18HmHjQgg/sSh3+5MHNYh8+m8DZyAJTS5QgIEUDEQVmOAXt44HIUP+C+xWy5EBz8iLzw283TJQ8tDz3YmIAd5sc5e4BlcwgQtYffoLWzIHKnUHFbzdMnAAQo4MPFUgwtstA2MiHwyIBt5uGRBFLiCKfwncE9Ex0KrAjQGzfQN6A+Z5DlYHhgAAAABJRU5ErkJggg==);
}
form.aui .icon-help,
.aui-icon-help,
form.aui .icon-inline-help,
.aui-icon-inline-help {
    /* icon-help.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOklEQVR42mXTv0rDUBTH8atDqYPi4mDRya3pAziIz+ETCDpoVt9BbKFRlFqfQGfBCukkODgIpREcddeiiCbR+A38ApfT4RNy/tzDzU3iwjC0mjjCGN8yVq5p+/1gDifIkWGIrgyVyxXX7IAaBihwgQac0UBfPTeo+QO6Kux7zZeYIMU11lTbVW9UDQiQa7qTe7xjG1t4wTNmVe9pTVAGbWRYVnEJBQ7g5FC5FTj1pmg7nXAM51lHXfcbeMNDtQOJkTi9pjMlrU184dEerNb8uPLiDbAGeMWiYjvgo7xJvEew7nBl8xJjNHWIxqrdujnEThm0kKNnmuYxkYUqb15jq0pEKLAHJ3UkUoeTHfzh2H7KtxrSN9uegVPuXD0DrZn6mU7xiwwxuhIjUy2yP5MVoIMnpPjESLnA9v8DHHysLnlPp3QAAAAASUVORK5CYII=);
    cursor: help;
}


/* Message icons */
.aui-message .icon-generic,
.aui-icon-generic {
    /* icon-generic.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA00lEQVR42qWTUQqCQBCGe9KCuoiKPqj38iTpg4KeJbqFZHSNesgw6l/4F4ZBlrSFD5z/3xlmd8eNXkVRBOAIBvAkF2qB3KsTPVCDN/jMQa8Fu7nkk9jYgRxsSU7N+mfgyQINjRtIrG4TRByCK/VaihPF2Gi6gNIS6hMIjVDatjc/LnGc0gQDg4y+swPqGb3BBCMDf0EBn964tsCB3n3tEVJ6veMSnQU6epUJooXPGItnjFyDpJcepMY1yi1Iqe/53epR/vNncrdZsdUXeICeWqT3fwEp0i7HcWSJEgAAAABJRU5ErkJggg==);
}
.aui-message .icon-error {
    /* icon-error-white.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAzUlEQVR42q2T3QqCQBBGvcqCehETvVBfM71QsGeJ3kIyeo260DC2b+CThoVdsFo44JzdGfZnDIwxNhE4gB4M5EIX2et1sAI1eBnH4FwLNnOeTj6phUdQgDUp6OZxlhxdoOHEDaSAnuMT78GVrhY3y4kyEekqQFK6SXJFlGrbgbcAUccpJegZ5AsK5PS9BCODcEGBkH78tsCO/u4+gp+MOd2vl1hJEC98xkQ9Y+xvJOJopMbXyi3I6Lf8bu1W/uvPZG+z4laf4AE6uthe/wbkrGRlM25n9wAAAABJRU5ErkJggg==);
}
.aui-icon-error {
    /* icon-error.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA00lEQVR42qWTXQqCUBCFe+oHaiMm+qDSBlpf+qBga4n20INktI16yDDqDJwLwyAXzIEPnDM/zL13nFm77HcBOIAWvMiVWqBzbeEclOADvkMwVoPVUPFJJR5BBpYko+biZ6nRDSoG7iB2uitQ/hbcqJda7ClGotkGRoup91IrQu7GlgRvA5o6Ti5OSycd0SBlrBWno7MY0WDBWPdvgw1jD98RfDuTsKaZeomFOOHIZ4zUM4a+RbJmF6nyrXINEuprftd2lSf+TP4xC476Bk/QUAtt/g8cmyvPgMzXPwAAAABJRU5ErkJggg==);
}
.aui-message .icon-hint,
.aui-icon-hint,
.aui-message .icon-info,
.aui-icon-info {
    /* icon-info.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1klEQVR42qWTUQqCQBCGfdKCuogu+qBeoot0kl7TBwU9S3QLyega9ZBh1L/wLyyDLGkLHzj/vzPM7o6eXLv9IQRH0IMnuVAL7b0y0QcVeIPPFPQasJ5KPlkbW5CDFcmpGf8MfLtATeMGEqObBCuOwJV6ZYsjxVhrsoDQEuojiLRQmLa9H5d1nEIHPYOMvrMD6hm9XgcDg2BGgYDesLTAlt596RFSep3jEp0FWnqlDtTMZ4ytZ1SuQZJLDlLtGuUGpNQ3/G7kKP/5M7nbLNnqCzxAR03J/V+HSh9XtOsatQAAAABJRU5ErkJggg==);
}
.aui-message .icon-success,
.aui-icon-success {
    /* icon-success.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA9klEQVR42qWTPQrCQBSErfwBhRQewDoGFYyHtDEWCSSVR8gBRDxCGjFi4xEstFBR4jyYYnmuK5LAB/vmzexuNpuGfvrzwAcLUIIb2VPzTa8ONkEMXqCywV4KOrbw2jBmYAbaZEatIhvJmBMkbBzB2LHLITjQG5vik+Ko8eORBeh9SlaEiELmCHmgACvWGTORFCWL8Et4IGF6TtRC1qUUdxYtNiOB4wk4s18Aj3qL2v1jAiOQ28L09Khf1CuoVS1heqbs7ayHyEm2INdhdYhLKYI/P+PI+IxBnYuUuK5yCqbUuxyn+irX/Jnc21xyqw9wBTtqgfa/Af067eG0xhemAAAAAElFTkSuQmCC);
}
.aui-message .icon-warning,
.aui-icon-warning {
    /* icon-warning.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABA0lEQVR42p2QP0tCURiH7zdQRA3u4OJUiyDY4CDtTuEXuXs0JEQ4uDk5C0EuKoEu+SWcg5baLCS7tNTx98IzyMWjXoeHe95/z3vODdzi2kdTvIo30fL1+YbLIhYOfsV5GsFAOL59zsNjBRfij60lEXKbf1E5RvDExl4URYGwXJfc6JCgwqZYhBp2hs5n4odadZ9gzKYu2x1YrUPt2SeosWEtijsEBfGN5HKXYErxweKkAMk9PbOkoE5hJXI+AbUVvfVtwZzkHTECAGptel8cgisSnyJDk+8GRlZ8MdOwxITghoa9ArhlZmzB+/abDjwh+c8+LBgRnMLEBHnxKJYpBpfMFDbGjWcGPFD11gAAAABJRU5ErkJggg==);
}
.aui-message .icon-close,
.aui-icon-close {
    /* icon-close.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAUElEQVR42sWTQQoAIAgEe2ef6smW1wb0MEHBXtp1QLMREUpvAefMFIKFf5srBUjhI4AQPAJKCO/YQgdhMQGE9MUe4FvwQ/TP6BfJr/L/37gBAXQVT6UvFQUAAAAASUVORK5CYII=);
}
.aui-message .icon-close-inverted,
.aui-message.error .icon-close,
.aui-icon-close-inverted {
    /* icon-close-inverted.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAUklEQVR42sWTQQoAIAgE/f8r+qkl0WlwLyu0IB1WR0qLzLRiDnBU56oICj4A13wCBL4AEEKPgDaxAwMguqFYAQhhsQ8Yu4L/iP4Y/UXyV/n/b9xWqa6H7L0OrwAAAABJRU5ErkJggg==);
}


/* Dropdown icon (downwards arrow)
* - achieved via pseudo element
*/
.aui-icon-dropdown {
    border: 4px solid transparent;
    border-top-color: #333;
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
    position: relative;
    vertical-align: baseline;
    width: 0;
}

/*! AUI Inline Dialog */
.aui-inline-dialog {
    display: none;
    position: absolute;
    z-index: 100;
}

.aui-inline-dialog .aui-box-shadow {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
}

.aui-inline-dialog .contents {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
    width: 320px;
}
.aui-inline-dialog .arrow {
    position: absolute;
    height: 16px;
    top: -7px; /* matches #inline-dialog-shim */
    width: 16px;
}
#inline-dialog-shim {
    display: none;
}

/* Inline Dialog + Forms Integration - top labels and full width fields supported */
/* funny numbers to add up to 20px spacing in various places (border to cap height/baseline) */
.aui-inline-dialog .contents form.aui h2:first-child {
    border-bottom: 1px solid #ddd;
    margin: -7px 0 11px 0;
    padding: 0 0 12px 0;
}
.aui-inline-dialog .contents form.aui .buttons-container {
    margin-top: 16px;
    padding: 0;
}
.aui-inline-dialog .contents .submit + .cancel {
    margin-left: 0;
}


.aui-message {
    background: #fcfcfc;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 0 0;
    min-height: 1em;
    padding: 16px 15px 16px 45px; /* Be sure to adjust icon positions below if these values are changed */
    position: relative;
}
/* Lighter shadow for messages */
.aui-message.shadowed {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.aui-popup .aui-message.closeable,
.aui-dialog .aui-message.closeable {
    z-index: 4000;
}

.aui-message.error {
    background: #d04437;
    border-color: #d04437;
    color: #fff;
}
.aui-message.warning {
    background: #fffdf6;	/* 5% of palette yellow #ffd351 */
    border-color: #ffeaae;	/* 50% of palette yellow #ffd351 */
}
.aui-message.info {
    background: #fcfcfc;
    border-color: #8c9fb2;	/* 50% of palette blue lozenge #4a6785 */
}
.aui-message.success {
    background: #f3f9f4;	/* 5% of palette green #14892c */
    border-color: #91c89c;	/* 50% of palette green #14892c */
}
.aui-message.hint {
    background: #fcfcfc;
    border-color: #aab8c6;	/* 50% of palette blue lozenge #4a6785 */
}

/* Errors get a different link style */
.aui-message.error a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.aui-message p.title {
    font-weight: bold;
}
/* IE double bolds otherwise... */
.aui-message p.title strong {
    font-weight: inherit;
}

/* Messages tweak the spacing a bit to make them sit nicely */
.aui-message p,
.aui-message ul li {
    margin-top: 4px;
}
.aui-message .title + p,
.aui-message .title + ul li {
    margin-top: 3px;
}
.aui-message p:first-child,
.aui-message ul:first-child,
.aui-message .title + ul {
    margin-top: 0;
}
.aui-message ul {
    padding: 0 0 0 1em;
}
.aui-message ul li {
    padding: 0;
}

/* Positioning aui-icon for messages */
.aui-message .aui-icon {
    left: 19px; /* desired spacing between the icon and text = 20px so need to subtract the icon width (16px) from the left padding of the message (45px) then remove 20px */
    position: absolute;
    top: 18px; /* 18px = top padding of the message (16px) + align to the center of the text ((20px line-height - 16px icon height) / 2) */
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    right: 10px;
    top: 10px;
}
/* End aui-icon position */

/* Deprecated SVG icons */
.aui-message .svg-icon {
    left: 10px;
    position: absolute;
    top: 10px;
}
.aui-message.closeable .svg-icon.close {
    cursor: pointer;
    left: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}
/*! AUI Tables */
/* Note child combinators are used to ensure nested non-AUI tables don't receive any AUI styles. */
table.aui {
    border-collapse: collapse;
    width: 100%;
}

table.aui table.aui {
    margin: 0;
}
table.aui > caption {
    color: #707070;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    caption-side: top;
    padding: 7px 10px;
    text-align: left;
}
table.aui > tbody > tr,
table.aui > tfoot > tr {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #333;
}

table.aui > tbody > tr > th {
    background: #fff;
    color: #333;
}
table.aui > thead > tr > th,
table.aui > tbody > tr > th,
table.aui > thead > tr > td,
table.aui > tbody > tr > td,
table.aui > tfoot > tr > td {
    padding: 7px 10px;
    text-align: left;
    vertical-align: top;
}
table.aui > thead {
    border-bottom: 1px solid #ddd;
}
/* Borders on TBODY and TFOOT don't work in IE - whereas these at least work in IE7 & IE8 */
table.aui > tbody > tr:first-child > td,
table.aui > tbody > tr:first-child > th,
table.aui > tfoot > tr:first-child > td {
    border-top: 1px solid #ddd;
}
table.aui > thead > tr > th > ul.menu,
table.aui > tbody > tr > th > ul.menu,
table.aui > tbody > tr > td > ul.menu,
table.aui > tfoot > tr > td > ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.aui > thead > tr > th > ul.menu > li,
table.aui > tbody > tr > th > ul.menu > li,
table.aui > tbody > tr > td > ul.menu > li,
table.aui > tfoot > tr > td > ul.menu > li {
    float: left;
    margin: 0 10px 0 0;
    width: auto;
}

/* stripes - deprecated */
table.aui.aui-zebra tr {
    border-bottom: 0;
}
table.aui.aui-zebra > thead > tr:nth-child(even),
table.aui.aui-zebra > tbody > tr:nth-child(even),
table.aui.aui-zebra > tfoot > tr:nth-child(even),
table.aui-zebra > tbody > tr:nth-child(even) > th {
    background: #f5f5f5;
    color: #333;
}
/* must be a separate rule for IE */
table.aui-zebra tr.aui-zebra {
    background: #e6e6e6;
    color: #333;
}
table.aui-zebra tr.aui-zebra th {
    background: #f5f5f5;
    color: #333;
}
/* end stripes - deprecated */
/*! AUI Tabs */

/* temp override */
.aui-tabs {
    font-size: 14px;
    line-height: 1.46; /* 20px equiv line-height */
}

/* Functional style */
.aui-tabs > .tabs-pane {
    display: none;
}
.aui-tabs > .tabs-pane.active-pane {
    display: block;
}

/* Common styles - Vertical and Horizontal */

.aui-tabs > .tabs-menu > .menu-item > a strong {
    background: transparent;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; /* set explicitly to avoid ie bug */
}

.aui-tabs > .tabs-menu > .menu-item.active-tab > a,
.aui-tabs > .tabs-menu > .menu-item.active-tab > a strong {
    font-weight: bold;
}

.aui-tabs > .tabs-menu .menu-item a,
.aui-tabs > .tabs-menu .menu-item a:link,
.aui-tabs > .tabs-menu .menu-item a:visited {
    background: #f5f5f5;
    color: #333;
}

.aui-tabs > .tabs-menu .menu-item a:focus,
.aui-tabs > .tabs-menu .menu-item a:hover {
    background: #e6e6e6;
    color: #000;
}

.aui-tabs > .tabs-menu .menu-item a:active {
    background: #3b73af;
    color: #fff;
}

.aui-tabs > .tabs-menu .menu-item.active-tab a,
.aui-tabs > .tabs-menu .menu-item.active-tab a:link,
.aui-tabs > .tabs-menu .menu-item.active-tab a:visited,
.aui-tabs > .tabs-menu .menu-item.active-tab a:focus,
.aui-tabs > .tabs-menu .menu-item.active-tab a:hover,
.aui-tabs > .tabs-menu .menu-item.active-tab a:active {
    background: #fff;
    color: #333;
}


/* Vertical Tabs - PDL colours but spacing still to be tweaked */
.aui-tabs.vertical-tabs > .tabs-menu {
    position: relative;
    float: left;
    width: 11em;
    z-index: 5;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item {
    border: 1px solid #ddd;
    border-right: none;
    margin: -1px 0 0 0;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item:first-child {
    margin-top: 1em;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item.active-tab {
    margin-left: -0.5em;
    margin-right: -1px;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item.active-tab > a > strong {
    padding: 4px 10px;

}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item > a {
    display: block;
    text-decoration: none;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item > a > strong {
    display: block;
    overflow: hidden;
    padding: 3px 10px 4px 10px;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item strong {
    padding-right: 0;
}

.aui-tabs.vertical-tabs > .tabs-pane {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 11em;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Horizontal Tabs - PDL */
.aui-tabs.horizontal-tabs > .tabs-menu {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item {
    display: block;
    float: left;
    margin: 0;
    background: #f7f7f7;
}
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child {
    margin-left: 20px;
}
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child a {
    border-radius: 3px 0 0 0;
    border-left: 1px solid #ddd;
}
/* last-child ok because IE8 doesn't do border radius anyway */
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:last-child a {
    border-radius: 0 3px 0 0;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item > a,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:hover,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:active {
    display: block;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 4px 10px 3px 10px;
    text-decoration: none;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item.active-tab a,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:hover,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:active {
    background: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    position: relative;
}
.aui-tabs.horizontal-tabs > .tabs-menu > .active-tab > a,
.aui-tabs.horizontal-tabs > .tabs-menu > .active-tab > a strong {
    font-weight: bold;
}

/* Disabled/Page Tabs */
.aui-tabs.aui-tabs-disabled > .tabs-menu > .menu-item > a {
    cursor: default;
}

/* reloadable tabs (active tab has different cursor affordance) */
.active-tab.reloadable-tab a,
.active-tab.reloadable-tab a strong { cursor: pointer !important; }

/* legacy tabs override - deprecated, to be remove in aui 5.0 */
.aui-tabs.vertical-tabs.aui-legacystyle2011 > .tabs-menu .menu-item strong {
    text-overflow: clip;
}
.aui-tabs.vertical-tabs.aui-legacystyle2011 > .tabs-menu .menu-item.active-tab {
    margin-right: 0;
}
.aui-tabs.vertical-tabs.aui-legacystyle2011 > .tabs-pane {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.aui-toolbar {
    clear: both;
    display: inline-block; /* new rendering context */
    padding-top: 10px;
    position: relative;
    width: 100%; /* emulate normal block */
}

.aui-toolbar .toolbar-group {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 10px 10px 0;
    white-space: nowrap;
}

.aui-toolbar .toolbar-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}

.aui-toolbar .aui-dd-parent {
    position: relative;
    width: auto;
}

/* splits set toolbars into multiple sections, eg. left/right split */
.aui-toolbar .toolbar-split {
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.aui-toolbar .toolbar-split.toolbar-split-right {
    float: right;
}

.aui-toolbar .toolbar-split.toolbar-split-row {
    clear: both;
    float: none;
    width: 100%;
}

/* Cursor/affordance: looks like a button = pointer, looks like a link = hand */
.aui-toolbar .toolbar-trigger {
    cursor: default;
}
.aui-toolbar .toolbar-item-link .toolbar-trigger {
    cursor: pointer;
}

/* primary buttons */
.aui-toolbar .primary .toolbar-trigger {
    font-weight: bold;
}

/* available/inactive controls */
.aui-toolbar .toolbar-group .toolbar-trigger,
.aui-toolbar .aui-dd-parent a.aui-dd-trigger {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* W3C */
    border-color: #ccc;
    border-style: solid; /* border width and style don't change after this */
    border-width: 1px; /* border width and style don't change after this */
    color: #333;
    display: inline-block;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
    /* and now the styles to overcome aui-dropdown1 */
    height: auto;
    text-indent: 0;
    width: auto;
    /* to make split buttons work */
    float: left;
}

.toolbar-item + .toolbar-item .toolbar-trigger,
.toolbar-item + .toolbar-item a.aui-dd-trigger {
    border-left-width: 0;
    padding-left: 11px;
}

.aui-toolbar .toolbar-group button.toolbar-trigger,
.aui-toolbar .toolbar-group input.toolbar-trigger {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.aui-toolbar .toolbar-group .toolbar-item.toolbar-item-link .toolbar-trigger {
    border-color: transparent;
    background: transparent;
    text-decoration: none;
    color: #3C78B5;
}

.aui-toolbar .toolbar-group .toolbar-item-link:hover .toolbar-trigger,
.aui-toolbar .toolbar-group .toolbar-item-link .toolbar-trigger:focus {
    text-decoration: underline;
}

.toolbar-group .toolbar-item:first-of-type a,
.toolbar-group .toolbar-item:first-of-type button,
.toolbar-group .toolbar-item:first-of-type input[type="button"],
.toolbar-group .toolbar-item:first-of-type input[type="reset"],
.toolbar-group .toolbar-item:first-of-type input[type="submit"] {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.toolbar-group .toolbar-item.toolbar-splitbutton .aui-dd-trigger {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toolbar-group .toolbar-item.toolbar-splitbutton:last-of-type .aui-dd-trigger,
.toolbar-group .toolbar-item:last-of-type .toolbar-trigger,
.toolbar-group .toolbar-item:last-of-type button,
.toolbar-group .toolbar-item:last-of-type input[type="button"],
.toolbar-group .toolbar-item:last-of-type input[type="reset"],
.toolbar-group .toolbar-item:last-of-type input[type="submit"] {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.toolbar-group .toolbar-splitbutton:last-of-type .toolbar-trigger {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toolbar-group .toolbar-item:first-of-type .toolbar-trigger,
.toolbar-group .toolbar-item:first-of-type button {
    border-left-width: 1px;
}

.aui-toolbar .toolbar-group .aui-dropdown {
    border: 1px solid #999;
}

.aui-toolbar .toolbar-group .aui-dropdown a {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* hover/focus controls */
.aui-toolbar .aui-dropdown2-trigger.toolbar-trigger.active,
.aui-toolbar .toolbar-splitbutton:hover .toolbar-trigger,
.aui-toolbar .toolbar-group .toolbar-trigger:focus,
.aui-toolbar .toolbar-group .toolbar-trigger:hover,
.aui-toolbar .toolbar-group button:focus,
.aui-toolbar .toolbar-group button:hover,
.aui-toolbar .aui-dd-parent .aui-dd-trigger:focus,
.aui-toolbar .aui-dd-parent .aui-dd-trigger:hover,
.aui-toolbar .toolbar-group .active .toolbar-trigger:hover {
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* W3C */
    border-width: 1px;
    border-color: #999;
    margin-left: -1px;
    color: #000;
    position: relative;
    text-decoration:none;
}
.aui-toolbar .toolbar-item:first-child .toolbar-trigger:hover,
.aui-toolbar .toolbar-item:first-child .aui-dropdown2-trigger.toolbar-trigger.active,
.aui-toolbar .toolbar-item.active:first-child .toolbar-trigger,
.aui-toolbar .toolbar-splitbutton:first-child:hover .toolbar-trigger,
.aui-toolbar .toolbar-item:first-child .toolbar-trigger:focus,
.aui-toolbar .toolbar-item:first-child .toolbar-trigger:hover,
.aui-toolbar .toolbar-item:first-child button:focus,
.aui-toolbar .toolbar-item:first-child button:hover,
.aui-toolbar .toolbar-item:first-child .aui-dd-parent .aui-dd-trigger:focus,
.aui-toolbar .toolbar-item:first-child .aui-dd-parent .aui-dd-trigger:hover,
.aui-toolbar .toolbar-item:first-child.active .toolbar-trigger:hover {
    margin-left: 0;
}

.aui-toolbar .aui-dropdown2-trigger.active,
.aui-toolbar .aui-dd-parent a.aui-dd-trigger.active,
.aui-toolbar .toolbar-group .active .toolbar-trigger,
.aui-toolbar .toolbar-group .toolbar-trigger:active {
    background: #f2f2f2;
    background-image: none;
    background-color: #f2f2f2;
    box-shadow: inset 0px 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
}

.aui-toolbar .toolbar-group .toolbar-item-link .toolbar-trigger:active {
    background: none;
    box-shadow: none;
}

/* Note .dropdown-text and .dropdown-icon used by both Dropdown and Dropdown2 */
.aui-toolbar .icon-dropdown {
    background: transparent url("aui-toolbar-24px.png") 0 0 no-repeat;
    display: inline-block;
    margin-top: 0;
    margin-left: 5px;
    margin-right: -5px;
    padding-right: 5px;
    text-indent: -9999px;
    width: 7px;
}

.aui-toolbar .toolbar-dropdown .icon-dropdown {
    background-position: -24px 0;
    height: 7px;
}

.aui-toolbar .toolbar-splitbutton .icon-dropdown {
    background-position: -46px 7px;
    margin-left: 0;
    height: auto;
}

.aui-toolbar .toolbar-splitbutton > .toolbar-trigger,
.aui-toolbar .toolbar-splitbutton > .toolbar-trigger:hover,
.aui-toolbar .toolbar-splitbutton > .toolbar-trigger:focus {
    border-right-style: dotted;
    float: left;
}
.aui-toolbar .toolbar-splitbutton > .aui-dd-parent > .toolbar-trigger:hover,
.aui-toolbar .toolbar-splitbutton > .aui-dd-parent > .toolbar-trigger:focus {
    border-left-width: 0;
    margin-left: 0;
}
.aui-toolbar .toolbar-splitbutton > .aui-dd-parent {
    float: left;
}
.aui-toolbar .toolbar-splitbutton > .aui-dd-parent > .toolbar-trigger {
    border-left-width: 0;
}
.aui-toolbar .toolbar-splitbutton > .aui-dd-parent.active > .toolbar-trigger {
    border-left-color: #999;
}
.aui-toolbar .toolbar-splitbutton > .aui-dd-parent > .aui-dd-trigger {
    min-width: 0;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 9px;
}

/* disabled controls */
.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"],
.aui-toolbar .toolbar-group.disabled .toolbar-trigger,
.aui-toolbar .toolbar-item.disabled .toolbar-trigger,
.aui-toolbar .toolbar-trigger.disabled {
    color: #999;
}

/* Prevent border highlighting and use normal cursor when disabled.
   .active classes are to counter a clash with dropdown states. */
.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"]:focus,
.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"]:hover,
.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"]:active,
.aui-toolbar .disabled .active .toolbar-trigger:hover,
.aui-toolbar .toolbar-group.disabled .toolbar-trigger,
.aui-toolbar .toolbar-group.disabled .toolbar-trigger:focus,
.aui-toolbar .toolbar-group.disabled .toolbar-trigger:hover,
.aui-toolbar .toolbar-group.disabled .toolbar-trigger:active,
.aui-toolbar .toolbar-group .disabled .toolbar-trigger,
.aui-toolbar .toolbar-group .disabled .toolbar-trigger:focus,
.aui-toolbar .toolbar-group .disabled .toolbar-trigger:hover,
.aui-toolbar .toolbar-group .disabled .toolbar-trigger:active,
.aui-toolbar .toolbar-group .toolbar-trigger.disabled,
.aui-toolbar .toolbar-group .toolbar-trigger.disabled:focus,
.aui-toolbar .toolbar-group .toolbar-trigger.disabled:hover,
.aui-toolbar .toolbar-group .toolbar-trigger.disabled:active {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* W3C */
    border-color: #ccc;
    box-shadow: none;
    cursor: default;
    color: #999;
}

.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"]:focus,
.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"]:hover,
.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"]:active {
    border-color: #ccc;
    color: #999;
}


.aui-toolbar .toolbar-group.disabled .toolbar-item:first-child .toolbar-trigger,
.aui-toolbar .toolbar-group .disabled.toolbar-item:first-child .toolbar-trigger,
.aui-toolbar .toolbar-group .toolbar-item:first-child .disabled.toolbar-trigger {
    border-left-width: 1px;
    border-left-color: #ccc;
}

/* prevent disabled split buttons jumping if dropdown clicked */
.aui-toolbar .toolbar-group.disabled .toolbar-item .aui-dd-trigger,
.aui-toolbar .toolbar-group .disabled.toolbar-item .aui-dd-trigger,
.aui-toolbar .toolbar-group .toolbar-item .disabled.aui-dd-trigger {
    border-left-width: 0;
}
