<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Container Sample General</title>
    <link rel="stylesheet" type="text/css" href="{{baseUrl}}/remoteapps/all.css">
    <link type="text/css" rel="stylesheet" href="public/css/styles.css">
    <script src="{{baseUrl}}/remoteapps/all.js"></script>
    <script>RA.init();</script>
  </head>
  <body>
    <h2>It worked!</h2>

    <h3>General Info</h3>
    <div>
        Message: <span id="message">Success</span>
    </div>
    <div>
        Host Consumer Key: <span id="consumerKey">{{clientKey}}</span>
    </div>
    <div>
        Current user: <span id="user"></span>
    </div>
    <div>
        Current user id: <span id="userId"></span>
    </div>
    <div>
        Current location: <span id="location"></span>
    </div>

    {{#hasHttpGetResponse}}
    <h3>HostHttpClient Response</h3>
    <div>
        Status: <span id="server-http-status">{{httpGetStatus}}</span>
    </div>
    <div>
        Status text: <span id="server-http-status-text">{{httpGetStatusText}}</span>
    </div>
    <div>
        Content-Type: <span id="server-http-content-type">{{httpGetContentType}}</span>
    </div>
    <div>
        Entity: <span id="server-http-entity">{{httpGetEntity}}</span>
    </div>
    {{/hasHttpGetResponse}}
    {{#hasHttpGetError}}
    <div>
        Error: <span id="server-http-error">{{httpGetError}}</span>
    </div>
    {{/hasHttpGetError}}

    <h3>RA.request() Response</h3>
    <div>
        Status: <span id="client-http-status"></span>
    </div>
    <div>
        Status text: <span id="client-http-status-text"></span>
    </div>
    <div>
        Content-Type: <span id="client-http-content-type"></span>
    </div>
    <div>
        Response text: <span id="client-http-response-text"></span>
    </div>
    <div>
        Data: <span id="client-http-data"></span>
    </div>

    <h3>Links</h3>
    <a href="">Reload Host Page</a><br>

    <h3>Images (Resize Test)</h3>
    <img src="public/img/sandcastles.jpg">

    <script src="public/js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="public/js/client.js"></script>
  </body>
</html>

